
@font-face {
font-family: 'Kaushan Script';
font-style: normal;
font-weight: normal;
src: local('Kaushan Script'), url('KaushanScript-Regular.woff') format('woff');
}
html{
  width: 100%;
  height: 100%;
  padding: 0;
  min-height: 100% !important;
  overflow-x: hidden !important;
}
body{
  min-height: 100% !important;
  position: relative;
  overflow-x: hidden !important;
}
#logo-text {
  font-family: 'Kaushan Script';
  font-size: 28px;
}
.gp {
	background:url(../images/header_background10.jpg) fixed no-repeat;
	height: 1050px;
}
.header {
	margin-bottom: 0;
}
.logo {
 
  border-left: 5px solid rgb(255, 142, 31);
  padding-left: 8px;
  top: -21px;
  font-weight: bold;
  color: rgb(255, 142, 31);
}
.logo h1 {
	text-shadow: 1px 0px, rgb(98, 61, 61) -1px 1px;
}
.logo p {
	text-shadow: 1px 0px, rgb(98, 61, 61) -1px 1px;
} 	
.greting {
  background: rgba(228, 124, 20, 0.68);
  color: aliceblue;
  text-align: center;
}	
.greting h1 {
	font-size: 66px;
	font-family: fantasy;
	text-shadow: 1px 0px, rgb(98, 61, 61) -1px 1px;
}
.greting-block {
	padding-top: 20%;
}
#contact {
  background-image: url(../images/map-image.png);
  background-color: #6F6F6F;
  background-position: center;
  background-repeat: no-repeat;
  padding: 47px 0;
}
#contact h2 {
	font-size: 30px;
  color: rgb(119, 119, 119);
}
#info {
	padding: 4%;
	background-color: rgba(200, 196, 184, 0.83);
}
#info i {
	font-size: 95px;
	padding-top: 33px;
	color: rgba(255, 127, 0, 0.73);

}
#work {
	background-color: #D0CDC3;
	padding: 25px 0;
}
#work p {
	text-align: center;
    font-weight: 600;
}
#work h2 {
	text-align: center;
    font-weight: 600;
    padding-bottom: 30px;
}
#message {
	resize: vertical; 
}
.citation {
	height: 370px;
	background:url(../images/bg21.jpg) fixed no-repeat;
}
.citation h2 {
	  padding-top: 9%;
	  color: rgba(255, 255, 255, 0.74);
	  width: 62%;
	  text-align: center;
	  margin: 0 auto;
}
.citation2 h2 {
	  padding-top: 9%;
	  color: rgba(255, 255, 255, 0.74);
	  width: 62%;
	  text-align: center;
	  margin: 0 auto;
}
.citation2 {
	height: 370px;
	background:url(../images/bg41.jpg) fixed no-repeat;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #222222;
  border-top: 1px solid #222;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}	
.panel-footer p {
	color: grey;
}
.sevice-column {
	border: solid 3px;
	border-style: double;
	border-color: #ddd;
	background: #f6f3f3;
}
#info .sevice-column {
	max-width: 292px;
	margin: 0 auto;
	margin-bottom: 6px;
}
.sevice-column h2 {
	text-align: center;
  	border-bottom: solid 3px;
  	border-color: #ddd;
	padding-bottom: 30px;
}
.sevice-column p {
	padding: 15px 15px;
}
#about-me {
	/*height: 340px;*/
}
#other-contact {
	color: rgba(216, 216, 216, 1);
	margin-top: 30px;
}
#text-info h2 {
	color: rgba(216, 216, 216, 1);
}
#text-info h3 {
	color: rgba(216, 216, 216, 1);
}
.icon-info {
	text-align: center;
}
.validation-error{
  padding: 5px;
  color: rgb(255, 123, 0);
}
.has-error .form-control {
  border-color: #FF7A3E;
  border-width: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #FF7A3E;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0),0 0 6px #FF7B00;
}
.has-error .form-control:focus {
  border-color: rgba(137, 30, 30, 0.64);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #E57A7A;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0),0 0 6px #E57A7A;
}
.message {
    -moz-animation: cssAnimation 1s ease-in 3s forwards;
    -webkit-animation: cssAnimation 1s ease-in 3s forwards;
    -o-animation: cssAnimation 1s ease-in 3s forwards;
    animation: cssAnimation 1s ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.message {
	position: fixed;
	top: 65px;
	right: 0;
	left: 0;
	margin: auto;
	width: 250px;
	text-align: center;
	height: 20px;
	padding: 15px 5px;
	color: black;
	text-shadow: 1px 0px, rgb(0, 0, 0) 1px 0px;
	font-family: monospace;
	display: block;
	font-size: 15px;
	border-radius: 12px;
}
.message.Success {
	border: solid 2px rgba(0, 255, 234, 0.32);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #39B2AB;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0),0 0 6px #41BAB3;
	background-color: rgba(0, 255, 255, 0.23);
}
.message.Error{
	border: solid 2px rgba(255, 0, 0, 0.32);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #B23939;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0),0 0 6px #BA4141;
	background-color: rgba(255, 0, 0, 0.23);
	height: 55px;
}
.message p {
	position: relative;
  	top: -10px;
}
/*XS*/
@media all and (max-width: 767px) {
 h2 {
 	  font-size: 26px;
 }
 .thumbnail {
 	  max-width: 314px;
 	  margin: 0 auto;
 }  
}
/*SM*/
@media all and (min-width: 768px) {
 
}
/*MD*/
@media all and (min-width: 992px) {
   
}
/*LD*/
@media all and (min-width: 1200px) {

}
