html{
  width: 100%;
  height: 100%;
  padding: 0;
  min-height: 100% !important;
  overflow-x: hidden !important;
}
body{
  min-height: 100% !important;
  position: relative;
  overflow-x: hidden !important;
}
.gp {
	background:url(../images/header_background10.jpg) fixed no-repeat;
	height: 1050px;
}
.header {
	margin-bottom: 0;
}
.logo {
 
  border-left: 5px solid rgb(255, 142, 31);
  padding-left: 8px;
  top: -21px;
  font-weight: bold;
  color: rgb(255, 142, 31);
}
.logo h1 {
	text-shadow: 1px 0px, rgb(98, 61, 61) -1px 1px;
}
.logo p {
	text-shadow: 1px 0px, rgb(98, 61, 61) -1px 1px;
} 	
.greting {
  background: rgba(228, 124, 20, 0.68);
  color: aliceblue;
  text-align: center;
}	
.greting h1 {
	font-size: 66px;
	font-family: fantasy;
	text-shadow: 1px 0px, rgb(98, 61, 61) -1px 1px;
}
.greting-block {
	padding-top: 20%;
}
#contact {
  background-image: url(../images/map-image.png);
  background-color: #6F6F6F;
  background-position: center;
  background-repeat: no-repeat;
  padding: 47px 0;
}
#contact h2 {
	font-size: 30px;
  color: rgb(119, 119, 119);
}
#info {
	padding: 4%;
	background-color: rgba(200, 196, 184, 0.83);
}
#info i {
	font-size: 95px;
	padding-top: 33px;
	color: rgba(255, 127, 0, 0.73);

}
#work {
	background-color: #D0CDC3;
	padding: 25px 0;
}
#work p {
	text-align: center;
    font-weight: 600;
}
#work h2 {
	text-align: center;
    font-weight: 600;
    padding-bottom: 30px;
}
#message {
	resize: vertical; 
}
.citation {
	height: 370px;
	background:url(../images/bg21.jpg) fixed no-repeat;
}
.citation h2 {
	  padding-top: 9%;
	  color: rgba(255, 255, 255, 0.74);
	  width: 62%;
	  text-align: center;
	  margin: 0 auto;
}
.citation2 h2 {
	  padding-top: 9%;
	  color: rgba(255, 255, 255, 0.74);
	  width: 62%;
	  text-align: center;
	  margin: 0 auto;
}
.citation2 {
	height: 370px;
	background:url(../images/bg41.jpg) fixed no-repeat;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #222222;
  border-top: 1px solid #222;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}	
.panel-footer p {
	color: grey;
}
.sevice-column {
	border: solid 3px;
	border-style: double;
	border-color: #ddd;
	background: #f6f3f3;
}
#info .sevice-column {
	max-width: 292px;
	margin: 0 auto;
	margin-bottom: 6px;
}
.sevice-column h2 {
	text-align: center;
  	border-bottom: solid 3px;
  	border-color: #ddd;
	padding-bottom: 30px;
}
.sevice-column p {
	padding: 15px 15px;
}
#about-me {
	/*height: 340px;*/
}
#other-contact {
	color: rgba(216, 216, 216, 1);
	margin-top: 30px;
}
#text-info h2 {
	color: rgba(216, 216, 216, 1);
}
#text-info h3 {
	color: rgba(216, 216, 216, 1);
}
.icon-info {
	text-align: center;
}
/*XS*/
@media all and (max-width: 767px) {
 h2 {
 	  font-size: 26px;
 }
 .thumbnail {
 	  max-width: 314px;
 	  margin: 0 auto;
 }  
}
/*SM*/
@media all and (min-width: 768px) {
 
}
/*MD*/
@media all and (min-width: 992px) {
   
}
/*LD*/
@media all and (min-width: 1200px) {

}
