html {
	overflow-x: hidden;
	margin: 0 auto; 
	width: 100%;
}
body {
	background: black; 
	font: 12.5px/1.3 'cg';
	width: 100;
}
.personal p {
	color: rgb(155, 155, 155);
	padding-top: 20px;
}
fieldset {
	border: 10px;
	color: rgb(127, 127, 127);
} 
input {
	background-color: black;
	border: solid 1px rgb(89, 89, 89);
	width: 110px;
	margin: 0px auto
}
input .type-email {
	color: red;
}
header {
	margin-top: 30px;
}
.right-column {
	float: left;
 	width: 500px;
}

h2 {
color: rgb(223, 223, 223);
position: relative;
top: 5px;
font-size: 12px;
font-family: "cgb";
}
p {
	color: rgb(223, 223, 223);
}
.logo {
	position: relative;
	top: 13px; 
}
.big-image {
	margin-top: -8px;
}
.left-column {
	margin-right: 34px;
}
	
.wrapper {
	width: 950px;
	margin: 0 auto;
}
.left-column-comtainer {
	float: left;
    width: 450px;
}
.tex {
position: relative;
top: 26px;
}
.foter {
		font-family: "cg";
		float: right;
}
.foter p {
	color: rgb(136, 136, 136)
}
.social-buttons {
padding-top: 27px;
}
.social-buttons a {
display: inline-block;
width: 19px;
height: 19px;
margin: 0 3px 0 0;  
background: url(../images/spritesheet.png);
}

.social-buttons .Facebook {
background-position: 198px -5px;
}
.social-buttons .Facebook:hover {
background-position: 227px -5px;
}
.social-buttons .Twitter {
background-position: 82px -5px;
}
.social-buttons .Twitter:hover {
background-position: 111px -5px;
}
.social-buttons .linkedIn {
background-position: 140px -5px;
}
.social-buttons .linkedIn:hover {
background-position: 169px -5px;
}
.social-buttons .YouTube {
background-position: 24px -5px;
}
.social-buttons .YouTube:hover {
background-position: 53px -5px;
}
.personal-data h2 {
border-bottom: solid 1px rgb(81, 81, 81);
border-top: solid 1px rgb(81, 81, 81);
padding: 5px 0px;
width: 450px;
}
.personal p {
	font-size: 11px;
	margin-top: -12px;
}
.foter {
	margin: -2px -3px 0px 0px;
	font-size: 10px;
	
}
.foter p {
	margin-bottom: -8px;
	padding-right: 69px;
	font-size: 9px;
} 
.invatation { 
	background: rgba(180,0,255,.7);
padding: 0 999999px;
margin: 0 -999999px;
}
@font-face {
font-family: "cg";
src: url("font/cg.eot");
src: url("font/cg.eot?#iefix") format("embedded-opentype"),
url("font/cg.woff") format("woff"),
url("font/cg.ttf") format("truetype"),
url("font/cg.svg#JournalRegular") format("svg");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "cgb";
src: url("font/cgb.eot");
src: url("font/cgb.eot?#iefix") format("embedded-opentype"),
url("font/cgb.woff") format("woff"),
url("font/cgb.ttf") format("truetype"),
url("font/cgb.svg#JournalRegular") format("svg");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "._cg";
src: url("_MACOSXfont/._cg.eot");
src: url("_MACOSXfont/._cg.eot?#iefix") format("embedded-opentype"),
url("_MACOSXfont/._cg.woff") format("woff"),
url("_MACOSXfont/._cg.ttf") format("truetype"),
url("_MACOSXfont/._cg.svg#JournalRegular") format("svg");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "._cgb";
src: url("_MACOSXfont/._cgb.eot");
src: url("_MACOSXfont/._cgb.eot?#iefix") format("embedded-opentype"),
url("_MACOSXfont/._cgb.woff") format("woff"),
url("_MACOSXfont/._cgb.ttf") format("truetype"),
url("_MACOSXfont/._cgb.svg#JournalRegular") format("svg");
font-weight: normal;
font-style: normal;
}
#first-name {
	position: relative;
    right: -15px;
}
#last-name {
	position: relative;
    left: 13px;
}
#email {
	position: relative;
    left: 44px;
}
.required:after {
	content: "*";
    color:#7600a8;;
}
.select-style {
	display: inline-block;

}
.selets:after {
  content: "";
  border-top: 6px solid #3f3f3f;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: -1;
}
.select-style select {
  background: transparent;
  color: rgb(115, 123, 127);
  border-color: rgb(89, 89, 89);
  padding-right: 12px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}
button.common-style {
  background-color: #440061;
  border: none;
  padding: 4px 11px;
  color: rgb(150, 155, 155);
}

.selets {
	position: relative;
}