/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.header-top{
	background: #484848;
	height: 40px;
}
.header-top-content,
.header-navigation,
.main-content{
	width: 80%;
	margin: 0 auto;
}
.header-top li,
.navigation-bar li{
	list-style: none;
	display: inline;
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 12px;
	padding-right: 7px; 
	color: #919191;
}
.header-top li a {
	text-decoration: none;
	color: #919191;
}
.header-top-login li{
	padding-right: 1px; 
}
.header-top-links{
	width: 50%;
	margin-top: 10px;
	float: left;
}
.header-top-login{
	text-align: right;
	width: 50%;
	margin-top: 6px;
	float: left;
}
.button{
  cursor: pointer;
  font-family: arial;
  text-transform: uppercase;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 4px 12px;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #002FAD;
  border-radius: 8px;
  background: #2B66FE;
  transition: 0.2s;
  position: absolute;
}
input.input {
	padding: 4px 41px 5px 8px;
	color: #666666;
	background: #373737;
	border-color: #373737;
	border-radius: 4px;
	border-width: 1px;
}
.image{
	margin: 15px 0;
}
.navigation-bar li{
	float: left;
	background: #dcdcdc;
	padding: 9px 8px;
	border-right: solid 1px rgb(197, 197, 197);
}
.navigation-bar a {
	text-decoration: none;
	color: #484848;
}
.search{
	float: left;
}
.search-img input{
	height: 25px;
	width: 23px;
	position: absolute;
	right: 6px;
	top: 3px;
	outline: none;
}
.search-bar{
	padding: 4px 41px 5px 8px;
	color: #666666;
	background: #373737;
	border-color: #373737;
	border-radius: 2px;
	border-width: 1px;
	margin: -4px 3px 3px 0;
}
.navigation-bar-links{
	width: 70%;
	float: left;
	background: gainsboro;
}
.navigation-bar-search{
	width: 30%;
	float: left;
}
.navigation-bar-search-content {
	text-align: right;
	background: gainsboro;
	position: relative;
	padding: 6px 0 3px 0;
	height: 21px;
}
.banner,
.copyright{
	clear: both;
}
.banner-content ul {
   width: 60%;
   font-family: initial;
}
.banner-img,
.banner-content{
	margin-top: 30px;
	float: left;
	width: 50%
}
.banner-img img{
    width: 70%;
    position: relative;
    top: -30px;
    padding-left: 24%;
}
.main-content {
	margin-top: 90px;
}
.banner-content h3 {
	  color: rgb(46, 102, 255);
	  font-size: 60px;
	  font-family: arial;
	  margin-bottom: 15px;
}
.banner-img, .banner-content p{
	color: #a1a1a1;
}
.banner-img, .banner-content li{
	color: #373737;
    margin-top: 3px;
}
.main{
	min-width: 945px;
}
.banner-content img{
	width: 150px;
	margin-top: 30px;
}
.products{
	clear: both;
}
.products h3,
.blog h3,
.about h3{
	float: left;
	color: #484848;
	font-family: sans-serif;
	font-size: 45px;
	margin-top: 80px;
	margin-bottom: 30px;
}
.products-content{
	clear: both;
}
.products-content li{
	float: left;
	display: inline-block;
	list-style: none;
	width: 25%;
}
.products-content h2{
	overflow: hidden;
	margin-bottom: 10px;
	font-size: 16px;
	font-family: sans-serif;
	color: #44a7ec;
	font-weight: bold;
	margin: 10px 0 0 10px;
	line-height: 20px;
}
.products-content p {
	font-family: sans-serif;
	font-size: 11px;
	color: rgb(161, 163, 169);
	margin: 10px 0 0 10px;
	line-height: 15px;
}
.products-content a{
	text-decoration: none;
}
.product-list{
	float: left;
	outline: solid 1px;
	margin-right: 20px;
	color: #ededed;
	min-height: 140px;
}
.Blackberry-img {
	width: 77px;
}
.WinPhon-img {
	width: 76px;
}
.PC-img {
	width: 89px;
}
.iPad-img{
	width: 80px
}
.product-list img {
	float: right;
	position: relative;
	left: 18px;
	top: 36px;
}
.border_1 {
    width: 100%;
	border: 0;
	border-bottom: 1px dashed #ccc;
	background: #999;
	left: 0;
	position: absolute;
	margin-top: 40px;
}
.blog,
.blog-content{
	clear: both;
}
.blog-content-right-cover,
.blog-content-left-cover,
.about-content-right-cover,
.about-content-left-cover{
	float: left;
	width: 50%;
}
.blog-content-left,
.about-content-left{
	margin-right: 10px;
}
.blog-content-right,
.about-content-right{
	margin-left: 10px;
}
.blog-content h2 {
	font-size: 16px;
	font-family: sans-serif;
	color: #44a7ec;
	line-height: 20px;
}
.blog-content img{
	width: 100%;
}
.blog-content p{
	margin: 7px 0px 7px 0px;
	font-family: sans-serif;
	font-size: 12px;
	color: rgb(161, 163, 169);
	line-height: 15px;
}
.blog-content a{
	color: #44a7ec;
}
.about-left-paragraph,
.about-right-paragraph{
	clear: both;
}
.copyright-background{
	height: 70px;
	width: 100%;
	background: rgb(72, 72, 72);
	position: absolute;
	left: 0;
	margin-top: 40px;
}
.copyright-content{
	width: 80%;
	margin:0 auto;
}
.copyright-content p,
.copyright-content a{
	margin-top: 30px;
	color: #999999;
	font-family: sans-serif;
	font-size: 12px;
}
.about-content p{
	color: #999999;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 15px;
}
.about-content-right p{
	margin: 5px 0px 5px 0px;
}
.about-right-paragraph a{
	 color: #44a7ec;
	 font-size: 12px;
}
.social-imgs li{
	list-style: none;
	display: inline;
	margin-right: 15px;
}
.social-imgs{
	text-align: right;
	width: 80%;
	margin: 0 auto;
	margin-top: -25px;
	min-width: 945px;
}
.about-content {
	clear: both;
}
.header-top-links li:hover {
	border-bottom: solid 2px rgb(208, 99, 53);
}
.header-top-links  li {
	border-bottom: solid 2px transparent;
	padding: 0px 5px 12px 5px;
}