html {
  overflow-x: hidden;
  height: 100%;
}
body {
  min-width: 1350px;
  overflow-x: hidden;
  height: 100%;
}
.main {
  height: 100%;
  position: relative;
  min-height: 1940px;
}
.header-top {
	background: #484848;
	height: 45px;
}
.header-top-links li {
	display: inline-block;
	text-decoration: none;
}
.header-top li a {
text-decoration: none;
color: #919191;
font-size: 14px;
}
.header-top-links ul {
	margin-top: 0;
	padding-top: 10px;
	padding-left: 0px;
}
.header-top-content {
	width: 80%;
	margin: 0 auto;
}
.header-top-login {
	float: right;
	margin-top: -45px;
	font-size: 14px;
}
.header-top-login li {
	color: #808080;
}
.input {
	background: #373737;
	width: 99px;
  	height: 22px;
	border-radius: 4px;
	border-width: 1px;
	border-color: #373737;
	font-size: 12px;
	padding-left: 4px;
}
.button {
	color: rgb(249, 245, 240);
	background: #0048FF;
  	width: 35px;
  	height: 25px;
  	border-radius: 4px;
  	border-width: 1px;
	border-color: rgb(0, 146, 255);
}
.header-bottom {
	  width: 80%;
  	  margin: 0 auto;
  	  clear: both;
}
.links-bar ul {
	background-color: #e3e3e3;
	padding: 1px 5px;
}
.links-bar li {
	display: inline-block;
	border-right: solid 1px;
	font-size: 14px;
	padding: 9px 5px;
	border-color: #d3d3d3;
}
.links-bar a {
	text-decoration: none;
	color: #484848;
}
.navigation-bar-search-content {
	  position: relative;
}	
.search-bar {
	  
	  background: #484848;
	  width: 225px;
  	  height: 25px;
  	  border-radius: 4px;
  	  position: absolute;
  	  top: -48px;
  	  right: 2px;
  	  padding-left: 4px;
  	  color:#8a8a8a;
}
.search-img input  {
	  width: 25px;
  	  height: 26px;
      position: absolute;
      top: -46px;
      right: 4px;
}
.content {
	  width: 80%;
      margin: 0 auto;
}
.mobi-content h3 {
	font-size: 41px;
  	color: #0048ff;
}
.mobi-content a img {
	  width: 150px;
} 
.mobi-content {
	  width: 38%;
}
.mobi-banner img {
	  position: relative;
      top: -254px;
      right: -675px;
}
.mobi-content ul {
	    list-style: none;
	    padding: 0;
	    font-size: 12px;
}
.content-phone {
	height: 400px;
}
.content-products h3 {
	font-size: 37px;
}
hr {
	width: 170%;
  	position: relative;
  	left: -13%;
  	clear: both;
  	border: dashed 1px;
  	color: #cdcdcc;
}
.mobi-banner img {
	width: 33%;
}
.all-products li {
	  width: 25%;
   	  display: inline-block;
  	  float: left;
}
.all-products li>div {
	border: solid 1px;
	margin-right: 47px;
	height: 100%;
	min-height: 150px;
	border-color: #DADADA;
	padding-left: 7px;
}    
.all-products li>div p {
    font-size: 12px;
}
.all-products li>div h3 {
	font-size: 19px;
	color: #44a7ec;
} 
.Iphone-ipad a>img {
	  float: right;
	  position: relative;
      top: 4px;
      left: 31px;
      height: 162px;
      width: 111px;
}
.Blackberry a>img {
	  width: 117px;
      height: 166px;
      float: right;
      position: relative;
      top: -1px;
      left: 35px;
}      
.all-products li>div h3 {
	  margin-bottom: -3px;
}
.Windows-Phone a>img {
	  width: 93px;
      height: 158px;
      float: right;
      position: relative;
      top: 4px;
      left: 31px;
}
.Windows-pc a>img {
	  float: right;
      width: 121px;
      height: 159px;
      position: relative;
      top: 9px;
      left: 42px;
}  
.all-products li>div h3,p {
	overflow: hidden;
}
.From-our-blog {
	  margin-top: 255px;
	  clear: both;
}

.From-our-blog div>h3 {
	  color: #44a7ec;
	  font-size: 19px;
}
.From-our-blog a {
	color: #44a7ec;
}
.From-our-blog p,a {
	font-size: 12px
}
.From-our-blog h3 {
	font-size: 37px;
}
.content-blog {
	  margin: 0 auto; 
}
.content-blog img {
	width: 75%;
}
.left-column-container-a {
	float: left;
	width: 50%;
}
.right-column-a {
	width: 50%;
	float: left;
	padding-bottom: 50px;
}
.left-column-a p {
	margin-right: 50px;
}
.left-columnn-container-b {
	float: left;
	width: 50%;
}
.right-column-b {
	float: left;
	width: 50%;
	padding-bottom: 150px;
}
.bottom-kontent{
	clear: both;
}
.bottom-kontent h3{
	font-size: 37px;
}
.bottom-kontent p {
	font-size: 12px;
}
.left-column-b p {
	margin-right: 63px;
}

.bottom-blog a {
	  color: #44a7ec;
}
.Copyright	{
	background: #484848;
	height: 58px;
	bottom: 0;
    position: absolute;
    width: 100%;
}
.Copyright h3 {
	font-size: 14px;
	float: left;
    padding-left: 19px;
    color: #919191;
}
.social-buttoms {
	float: right;
  	padding-right: 26px;
} 	
.social-buttoms li {
	display: inline-block;
}
.social-buttoms ul {
	margin-top: 4px;
}
.Copyright-content {
	  width: 90%;
  	  margin: 0 auto;
}
